@font-face {
      font-family: OcclupanidMarkings;
      src: url("../pagefiles/OcclupanidMarkingsLight08.otf");
    }

body {margin: 0px;
      font-family: Sans-serif;}

header {background: #000;
        color: #fff;
        position: sticky;
        top: 0;}

header h1 {font-size: 24px;
           font-style: italic;
           margin: 0px;
           padding: 10px 0px;}

nav {font-family: OcclupanidMarkings;
     background: #333;
     height: 80px;
     padding: 8px 0px;
     box-sizing: border-box;
     display: table;
     width: 100%;
     position: sticky;
     top: 58px}

nav a {height: 20px;
       padding-right: 10px;
       color: #e0e0e0;
       font-size: 35px;
       text-decoration: none}

.nav-button-spacer {border-left: 2px solid #e0e0e0;}

.nav-button:hover {border-radius: 10px;
                   background-color: #000;}

main {background: var(--bg);
      color: var(--text)}

:root {--bg:#000;
       --text:#fff;
       --link:#4CB5E5;
       --link-visited:#AB7CBF;}
#color-mode:checked ~ main {--bg:#fff;
                            --text:#000;
                            --link:#0066CC;
                            --link-visited:#551A8B;}


main a:link {color: var(--link)}
main a:visited {color: var(--link-visited)}

.content {width: 80%;
          margin: 0px auto}

#banner-logo {height: 44px;
              display: block;
              margin: 6px 10px 0 0;
              float: left;}

#banner-text {float: left;
              margin-top: 10px;}

#nav-content {text-align: center;
              vertical-align: middle;
              display: table-cell;}